.todo-lists {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--bg-todo-secondary);
	overflow-y: scroll;
	height: 100%;

	&::-webkit-scrollbar {
		width: 3px;
		height: 3px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: var(--scroll);
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		&:hover {
			background: #79797a;
		}
	}
}
