.todo-header {
	display: grid;
	grid-template-columns: 1fr auto;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid var(--border);
	padding: 20px;

	&__title {
		text-align: center;
	}
}
